<%# The "base" layout contains boilerplate common to *all* views. %>

<!DOCTYPE html>
<html>
  <head>
    <!-- Toptal <%= Rails.application.config.version %> (<%= l(Rails.application.config.version_time) %>) -->

    <%# CSS should go closest to the top of the document as possible. %>
    <%= stylesheet_link_tag("application",
                            :media => "all",
                            "data-turbolinks-track" => true) %>

    <%# JavaScript must be in head for Turbolinks to work. %>
    <%= javascript_include_tag("application","data-turbolinks-track" => true) %>

    <%= yield(:head) %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-title" content="Toptal">

    <%= csrf_meta_tags %>

    <title>Toptal</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
